<div class="h-full flex flex-col">
  <div class="w-full h-10 p-1 px-2 space-x-2 bg-cyan-500 flex flex-row">
    <div>
      <img src="icon128.png" class="h-full" />
    </div>
    <div class="justify-items-center grow">
      <div class="font-sans text-lg text-white">Settings</div>
    </div>
    <div>
      <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
        <!-- https://cdn.jsdelivr.net/npm/heroicons@2.1.3/24/outline/home.svg -->
        <!-- prettier-ignore -->
        <svg viewBox="0 0 24 24" class="h-full py-0.5 fill-none stroke-current text-white stroke-1">
          <path stroke-linecap="round" stroke-linejoin="round" d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
        </svg>
      </a>
    </div>
  </div>

  @if (settings !== null) {
    <!-- <div class="absolute z-10 min-w-full px-12 flex flex-col top-4"> -->
    <div class="min-w-full px-2 py-2 bg-slate-100 flex flex-col grow">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <ul>
          @for (setting of settings; track setting.label) {
            <li class="flex flex-col my-2">
              <span class="font-medium">{{ setting.label }}</span>
              @if (isArray(setting.value)) {
                <div class="h-5 mb-1 text-gray-500 flex flex-row">
                  <span class="font-light text-sm grow">{{
                    setting.description
                  }}</span>
                  <div class="h-full" (click)="addItem(setting.name)">
                    <!-- https://cdn.jsdelivr.net/npm/heroicons@2.1.3/24/outline/plus.svg -->
                    <!-- prettier-ignore -->
                    <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-full px-1.5 fill-none stroke-current stroke-1">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                    </svg> -->
                    <!-- https://cdn.jsdelivr.net/npm/heroicons@2.1.3/24/outline/plus-circle.svg -->
                    <!-- prettier-ignore -->
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-full px-1.5 fill-none stroke-current stroke-1">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>
                  </div>
                </div>
                <div
                  formArrayName="{{ setting.name }}"
                  class="flex flex-col gap-y-1 max-h-28 overflow-y-auto"
                >
                  @for (
                    ctrl of getFormArray(setting.name).controls;
                    track ctrl;
                    let ix = $index
                  ) {
                    <div class="relative">
                      <input
                        id="{{ setting.name }}-{{ ix }}"
                        class="w-full p-2 placeholder:text-slate-300 outline outline-1 outline-slate-200 focus:outline-cyan-500 rounded-sm"
                        type="text"
                        autocomplete="off"
                        [formControlName]="ix"
                        name="{{ setting.value }}"
                        ngDefaultControl
                        placeholder="{{ setting.label }}"
                      />
                      <div
                        class="absolute h-full right-0 top-0"
                        (click)="delItem(setting.name, ix)"
                      >
                        <!-- /div>class="absolute left-0 top-0 rounded bg-transparent p-1.5 text-center text-cyan-400 transition-all shadow-sm hover:shadow focus:shadow-none active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none" -->
                        <!-- https://cdn.jsdelivr.net/npm/heroicons@2.1.3/24/outline/minus-circle.svg -->
                        <!-- prettier-ignore -->
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-full p-1.5 fill-none stroke-white stroke-1 hover:stroke-red-200">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M15 12H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                        </svg>
                        <!-- https://cdn.jsdelivr.net/npm/heroicons@2.1.3/24/outline/trash.svg -->
                        <!-- prettier-ignore -->
                        <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-full p-1.5 fill-none stroke-white stroke-1 hover:stroke-red-200">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                        </svg> -->
                      </div>
                    </div>
                  }
                </div>
              } @else {
                <div class="h-5 mb-1 text-gray-500">
                  <span class="font-light text-sm">{{
                    setting.description
                  }}</span>
                </div>
                <input
                  id="{{ setting.name }}"
                  class="p-2 placeholder:text-slate-300 outline outline-1 outline-slate-200 focus:outline-cyan-500 rounded-sm"
                  type="text"
                  autocomplete="off"
                  formControlName="{{ setting.name }}"
                  name="{{ setting.value }}"
                  ngDefaultControl
                  placeholder="{{ setting.label }}"
                />
              }
            </li>
          }
        </ul>
        <!-- <div class="flex flex-col justify-end grow"> -->
        <div class="flex flex-row gap-2 place-self-end justify-end">
          <input
            type="submit"
            [disabled]="!form.valid"
            class="px-4 py-2 bg-cyan-500 text-white rounded-md"
            value="Apply"
          />
          <input
            type="button"
            class="px-4 py-2 bg-slate-200 text-slate-500 rounded-md"
            value="Cancel"
            (click)="onCancel()"
          />
        </div>
        <!-- </div> -->
      </form>
    </div>
  } @else {
    <div class="min-w-full px-2 py-2 bg-slate-100 flex flex-col grow">
      <input
        #passphrase
        type="password"
        class="p-2 placeholder:text-slate-300 outline outline-1 outline-slate-200 focus:outline-cyan-500 rounded-sm"
        [(ngModel)]="passphrase"
        name="passphrase"
        ngDefaultControl
        placeholder="Passphrase"
      />
      <input
        type="button"
        class="px-4 py-2 bg-cyan-500 text-white rounded-md"
        value="Unlock"
        (click)="unlock(passphrase.value)"
      />
    </div>
  }
</div>
